name: CI

on:
  push:
    branches: ["main"]
    tags:
      - 'v*.*.*'
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: CI
        run: make ci

  release:
    permissions:
      contents: write
    if: startsWith(github.ref, 'refs/tags/v')
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Build release
        run: make release
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/fml
          generate_release_notes: true
